<h1 style="text-align: center;">SAMPLE APP</h1>
<h1>&nbsp;</h1>
<p style="text-align: center;"><strong><em>Hello Ruby World</em></strong></p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;"><em>UNIT Factory 2019</em></p>
